<h1>Show Hotel</h1>

<table>
    <tr>
        <td>City Id</td>
        <div>
            <select [(ngModel)]="citySelected" (change)="onChangeCity(citySelected)">
                <option *ngFor="let center of cityList" value={{center.cityId}}>{{center.cityName}}</option>
            </select>

        </div>
        <br><br>



        <br><br>

        <!-- <td><span class="form_error" id="cityid_error_message" style="color:red;"></span></td> -->
    </tr>
    <tr>
        <th>Hotel Id</th>
        <th>Hotel Name</th>
        <th>Hotel Address</th>
        <th>Hotel Phone Number</th>
        <th>Hotel Rating</th>
    </tr>
    <tr *ngFor="let hot of hotelList; let i = index">
        <td>{{hot.hotelId}}</td>
        <td>{{hot.hotelName}}</td>
        <td>{{hot.hotelAddress}}</td>
        <td>{{hot.hotelPhoneNumber}}</td>
        <td>{{hot.hotelRating}}</td>
        <!-- <td><input type = "button" value = "Update" (click) = "updateHotel(pro)" /></td> -->
        <td><input type="Button" value="Update" (click)="initiateUpdateHotel(hotelList[i].hotelId)" /></td>
        <td><input type="Button" value="Delete" (click)="deleteHotel(hotelList[i].hotelId)" /></td>
    </tr>

    <div *ngIf="update else falseblock">
        <table>
            <tr>
                <th>Hotel Name</th>
                <th>Hotel Address</th>
                <th>Hotel Phone Number</th>
                <th>Hotel Rating</th>
            </tr>
            <tr>

                
                <td><input type="text" [(ngModel)]='modelHotel.hotelName' /></td>
                <td><input type="text" [(ngModel)]='modelHotel.hotelAddress' /></td>
                <td><input type="text" [(ngModel)]='modelHotel.hotelPhoneNumber' /></td>
                <td><input type="text" [(ngModel)]='modelHotel.hotelRating' /></td>
                <td><input type="Button" value="Update" (click)="updateHotel()" /></td>

            </tr>


        </table>

        <ng-template #falseblock>
        </ng-template>
    </div>
 

    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
</table>