<h1>WELCOME TO ANGULAR 6</h1>

<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link " href="addcity">Add City</a>
  <a class="nav-item nav-link" href="showcity">Show City</a>
  <a class="nav-item nav-link" href="addhotel">Add Hotel</a>
  <a class="nav-item nav-link " href="showhotel">Show Hotel</a>
  <a class="nav-item nav-link" href="addroom">Add Room</a>
  <a class="nav-item nav-link" href="showroom">Show Room</a>
  <a class="nav-item nav-link" href="about">About Us</a>
</nav>


<router-outlet></router-outlet>