<h1>Add Hotel</h1>
<table>
    <tr>
        <td>City </td>
        <div>
               
            <select [(ngModel)]="citySelected"  (change)="onChange(citySelected)">
                <option *ngFor="let center of cityList" value={{center.cityId}}>{{center.cityName}}</option>
            </select>

        </div>
        <br><br>



        <br><br>

        <!-- <td><span class="form_error" id="cityid_error_message" style="color:red;"></span></td> -->
    </tr>


    <tr>
        <td>Hotel </td>
        <div>
            <select [(ngModel)]="hotelSelected">
                <option *ngFor="let center of hotelList" value={{center.hotelId}}>{{center.hotelName}}</option>
            </select>

        </div>
        <br><br>



        <br><br>

        <!-- <td><span class="form_error" id="cityid_error_message" style="color:red;"></span></td> -->
    </tr>



    <tr>
    <tr>
        <td>Room Type</td>
        <td><input type="text" [(ngModel)]='modelRoom.roomType' /></td>
    </tr>
    <tr>
        <td>Room Rent</td>
        <td><input type="text" [(ngModel)]='modelRoom.roomRent' /></td>
        <!-- <td><span class="form_error" id="hoteladdress_error_message" style="color:red;"></span></td> -->
    </tr>
    <tr>
        <td>Room Number</td>
        <td><input type="text" [(ngModel)]='modelRoom.roomNumber' /></td>
        <!-- <td><span class="form_error" id="hotelphone_error_message" style="color:red;"></span></td> -->
    </tr>



    <tr>
        <td><input type="button" value="Add Room" [routerLink]="['/showroom']" (click)="addRoom(citySelected, hotelSelected)" /></td>
    </tr>
</table>
