<h1>Add City</h1>
<table>
    <!-- <tr>
        <td>City Name</td>
        <td><input type="text" [(ngModel)]='modelCity.cityName' /></td>
    </tr> -->

    <tr>
        <td>City name</td>
        <td>
                <input id="name" name="name" class="form-control"
                required minlength="4" pattern="[a-zA-Z ]*"
                [(ngModel)]="modelCity.cityName" #name="ngModel" >
          
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger">
          
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="name.errors.pattern">
                    Alphanumeric only
            </div>
          
          </div>
        </td>
    </tr>

    <tr>
        <td><input type="button" value="Add City" [routerLink]="['/showcity']" (click)="addCity() " /></td>
    </tr>


</table>